.container {
    position: fixed;
    bottom: 50px;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    background-color: orange;
    max-width: 70px;
    text-align: center;
    line-height: 1.1;
    cursor: pointer;
}
.callFormWrapper-container {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(150,125,50,0.6);
}

.callFormWrapper {
    width: 60%;
    margin: 10% auto;
    padding: 30px 40px;
    border-radius: 20px;
    position: relative;
    background-color: white;
}
.callFormWrapper div {
    padding: 5px;
}
.callFormWrapper label {
    display: inline-block;
    min-width: 40%;
    font-size: 20px;
    margin-right: 20px;
}
.callFormWrapper input, textarea {
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px 10px;
    min-width: 50%;
}
.callFormWrapper span {
    display: block;
    color: red;
}
.active {
    background-color: orange;
    font-size: 20px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-top: 20px;
}
.disabled {
    background-color: rgba(241, 220, 181, 0.753);
    font-size: 20px;
    cursor: no-drop;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-top: 20px;
}
.callFormWrapper .closeFormButton {
    position: absolute;
    width: 30px;
    height: 30px;
    top: -15px;
    right: -15px;
    color: white;
    font-weight: bold;
    background-color: red;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
}