.newOperatorRegistrationFormContainer {
    background-color: whitesmoke;
    position: absolute;
    left: 10%;
    right: 10%;
    top: 10%;
    padding: 10px;
   border-radius: 5px;
}

.newOperatorRegistrationForm {
    margin:auto;
    width: 90%;
}

.newOperatorRegistrationForm input, textarea {
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px 10px;
    min-width: 50%;
}

.newOperatorRegistrationForm label {
    display: inline-block;
    min-width: 40%;
    font-size: 20px;
    margin-right: 20px;
}

.newOperatorRegistrationForm > div {
    padding: 5px;
}

.newOperatorRegistrationContainer {
   position: fixed;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   background-color: rgba(150,125,50,0.6);
   
}

.newOperatorRegistrationContainer span {
   display: block;
   color: red;
}

.newOperatorRegistrationFormContainer .closeFormButton {
    position: absolute;
    width: 30px;
    height: 30px;
    top: -15px;
    right: -15px;
    color: white;
    font-weight: bold;
    background-color: red;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
}